<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exflyer.oddi.admin.api.manager.role.dao.RoleMapper">

	<select id="findByCondition" resultType="com.exflyer.oddi.admin.api.manager.role.dto.RoleConditionResult">
		select
		seq
		, name
		, usable
		, memo
		, reg_date
		, reg_id
		, mod_date
		, mod_id
		from role
		<where>
			<if test="usable != null">
				and usable = #{usable}
			</if>
			<if test="@org.apache.commons.lang3.StringUtils@isNotBlank(name)">
				and name like concat('%', #{name}, '%')
			</if>
		</where>
	</select>
	<select id="findRoleMenu" resultType="com.exflyer.oddi.admin.api.manager.role.dto.RoleMenuRes">
		select mg.id   as group_id,
					 mg.name as group_name,
					 m.id as menu_id,
					 m.menu_name,
					 ifnull(rm.reg_authority, 0) AS reg_authority,
					 ifnull(rm.search_authority, 0) AS search_authority,
					 ifnull(rm.mod_authority, 0) AS mod_authority,
					 ifnull(rm.del_authority, 0) AS del_authority
		from  menu m
						LEFT outer join role_menu rm on rm.menu_id = m.id AND rm.role_seq = #{roleSeq}
						LEFT outer join  menu_group mg on m.group_id = mg.id
		where m.usable = true
			and mg.usable = TRUE
		  <if test="seq != null">
			and rm.role_seq = #{seq}
			</if>
		order by mg.ordering, m.ordering
	</select>
	<select id="findManagerNofification" resultType="com.exflyer.oddi.admin.api.manager.role.dto.RoleNotificationRes">
		select
			role_seq
			, code as device_state_code
			, case when device_push is null then false else device_push end device_push
			, name as device_state_name
		from (
			select
				*
			from
			  manager_notification
			where
				role_seq = #{seq}
		) mn
		right outer join code c on mn.device_state_code = c.code
	  where c.group_code = 'DDT'
	</select>
</mapper>
